# Database settings
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/fastapi_db
ASYNC_DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/fastapi_db

# JWT Settings
JWT_SECRET=your-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# App Settings
APP_NAME=Fastapi App Template
ENVIRONMENT=development
DEBUG=True

# CORS Settings
CORS_ORIGINS=["http://localhost:3000"]
CORS_HEADERS=["*"]
